<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StringCalculatorExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0161EF1F2AE071001C63D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0162081F2AE071001C63D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0162131F2AE071001C63D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
